<template>
  <div id="app">
    <BlockGame />
  </div>
</template>

<script>
  import BlockGame from './components/BlockGame.vue'

  export default {
    name: 'App',
    components: {
      BlockGame
    }

  }
</script>

<style>

</style>
